<h1>Tag Types</h1>
<table>
<thead>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th></th>
  </tr>
</thead>
<tbody>
  {{#each tagtypes}}
    <tr>
      <td>{{name}}</td>
      <td>{{category}}</td>
      <td><a href="/tagtype/{{id}}/delete" class="button-primary">Delete</a></td>
    </tr>
  {{/each}}
  </tbody>
</table>
<h1>New Tag Type</h1>
<form method="POST" action="/tagtype/new">
  <div class="row">
      <label for="fieldName">Name</label>
      <input class="u-full-width" type="text" placeholder="Type Name" id="fieldName" name="name" required />
      <label for="fieldCategory">Category</label>
      <input class="u-full-width" type="text" placeholder="Type Category" id="fieldCategory" name="category"  />

    <input type="submit" class="button-primary" value="Create"/>

  </div>
</form>
