<h1>Diagrams</h1>
<table>
<thead>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
</thead>
<tbody>
  {{#each diagrams}}
    <tr>
      <td><a href="/diagram/{{id}}">{{name}}</a></td>
      <td><a href="/diagram/{{id}}/delete" class="button-primary">Delete</a></td>
    </tr>
  {{/each}}
  </tbody>
</table>
<h1>New Diagram</h1>
<p>
  Start with a blank workspace:
  <a href="/vis">Visual Workbench</a>
</p>
