<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>{{#if page.title}}{{page.title}}{{else}}Calypear{{/if}}</title>
<meta name="description" content="">
<meta name="author" content="Calypear">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="/dist/css/normalize.css">
<link rel="stylesheet" href="/dist/css/skeleton.css">
<link rel="stylesheet" href="/dist/css/pikaday.css">
<link rel="stylesheet" href="/dist/css/app.css">

<!-- Scripts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="/dist/js/jquery.min.js"></script>
<script src="/dist/js/pikaday.js"></script>
<script src="/dist/js/app.js"></script>
<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</head>
<body>
  {{#unless layout.fullwidth}}
    <div class="navbar">
      <div class="container">
        <div class="quickSearchActions menuBlock">
          <form method="GET" action="/archcomponents">
            <input type="text" name="name" id="fieldSearchName" placeholder="Enter a component name to search"/>
            <button class="button-primary"><span class="material-icons">search</span></button>
          </form>
        </div>
        <div class="primaryActions menuBlock">
          <ul>
            <li><a href="/archcomponents"><p><span class="material-icons">inbox</span>Components</p></a></li>
            <li><a href="/diagrams"><p><span class="material-icons">format_shapes</span>Visual Workbench</p></a></li>
            <li><a href="/admin"><p><span class="material-icons">developer_mode</span>Admin</p></a></li>
          <ul>
        </div>
      </div>
    </div>
    <div class="container">
          {{/unless}}
      {{{content}}}
      {{#unless layout.fullwidth}}
    </div>
    {{/unless}}

    <script>
      $().ready(function(){
        $('#fieldSearchName')
      });
    </script>
</body>
</html>
