<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>Calypear</title>
<meta name="description" content="">
<meta name="author" content="Calypear">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="/dist/css/normalize.css">
<link rel="stylesheet" href="/dist/css/skeleton.css">
<link rel="stylesheet" href="/dist/css/app.css">

<!-- Scripts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/dist/js/app.js"></script>
<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</head>
<body>
  <div class="container">
    <div class="navbar">
      <ul>
        <li><a href="/archcomponents">Components</a></li>
        <li>Misc</li>
      <ul>
    </div>
    {{{content}}}
  </div>
</body>
</html>
