<h1>Create Tranche</h1>
<form action="/admin/tranche" method="post">
  <div class="row">
    <div class="six columns">
      <label for="fieldName">Tranche Name</label>
      <input type="text" class="u-full-width" id="fieldName" name="name" placeholder="Tranche Name" value="" required/>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <input type="submit" name="submit" value="create"/>
    </div>
  </div>
</form>
<h1>Tranches</h1>
<table>
<thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th></th>
  </tr>
</thead>
<tbody>
  {{#each userProfiles}}
    <tr>
      <td>{{id}}</td>
      <td><a href="/admin/tranche/{{id}}">{{name}}</a></td>
      <td><a href="/admin/tranche/{{id}}/delete">Delete</a></td>
    </tr>
  {{/each}}
</tbody>
</table>
